@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Light.woff2") format("woff2"),
    url("/fonts/Rubik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fontsRubik-LightItalic.woff2") format("woff2"),
    url("/fontsRubik-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fontsPoppins-Black.woff2') format('woff2'),
        url('/fontsPoppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fontsNunitoSans-Regular.woff2') format('woff2'),
        url('/fontsNunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fontsPoppins-SemiBold.woff2') format('woff2'),
        url('/fontsPoppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM-PROPS */
:root{
    --blue: #5267df;
    --red: #FA5959;
    --text-color: #242A45;
    --text-color-75: rgba(36, 42, 69, .75);
    --text-color-50: rgba(36, 42, 69, .5); 
}


*:focus{
    outline: 2px dashed rgb(10, 10, 190);
    outline-offset: 2px;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

    body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    background-color: #fff;
    color: var(--text-color);
    overflow-x: hidden;
}

    img {
    max-width: 100%;
    height: auto;
    }

  *:focus {
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
    }


  /* CONTAINER  */
    .container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 8px 22px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
}

.button:active{
    opacity: 0.6;
}

.button--red {
    background-color: var(--red);
    color: #fff;
}

.button--red:hover{
    border-color: var(--red);
    background-color: #fff;
    color: var(--red);
}

.button--blue {
    background-color: var(--blue);
    color: #fff;
}

.button--blue:hover{
    border-color: var(--blue);
    background-color: #fff;
    color: var(--blue);
}

.button--grey {
    background-color: #f7f7f7;
    color: var(--text-color);
}

.button--grey:hover{
    border-color: #5b6074;
    background-color: #fff;
    color: var(--text-color);
}

.button-block{
    display: block;
    width: 100%;
}

.button--site-header{
    padding: 10px 31px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover{
    opacity: 0.8;
}


.logo:active{
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 149px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover{
    color: var(--red);
}

.sitenav__link:active{
    opacity: 0.6;
}

/* SITE-HEADER */
.site-header {
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__sitenav {
    margin-right: 48px;
}


/* SECTION */
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section__info {
    width: 100%;
    max-width: 540px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.section-description {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}


/* FEATURE-TAB-PANEL */
.feature-tab-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-tab-panel__img {
    margin-right: 30px;
    object-fit: contain;
}

.feature-tab-panel__info {
    width: 445px;
}

.feature-tab-panel__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}
.feature-tab-panel__text {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
}


/* TABS */
.tabs__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabs__item {
    width: 243px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__link {
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 4px solid transparent;
    color: var(--text-color-75);
    display: block;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.tabs__item--active .tabs__link{
    border-color: var(--red);
    color: var(--text-color);
}

.tabs__link:hover{
    color: var(--red);
}

.tabs__link:active{
    opacity: 0.6;
}

.tabs__panels {
    padding-top: 75px;
    padding-bottom: 165px;
    background-image: url(../img/Rectangle\ Copy\ 14.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% -580px) 156px;
}

.tabs__panel--active{
    display: block;
}


/* FEATURES */
.features-section-info{
    margin-bottom: 44px;
}


/* HERO */
.hero {
    padding-top: 66px;
    padding-bottom: 105px;
    background-image: url(../img/blue-pill-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 705px) 200px;
}

.hero__container {
    display: flex; 
    align-items: flex-start;
}

.hero__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 540px;
    padding-top: 66px;
    margin-right: 65px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.hero__description {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color-50);
}

.hero__actions {
    display: flex;
}

.hero__actions-item:not(:last-child) {
    margin-right: 16px;
}

.hero-img {
    flex-shrink: 0;
    width: 578px;
    height: 385px;
    object-fit: contain;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

