@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Light.woff2") format("woff2"),
    url("/fonts/Rubik-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-LightItalic.woff2") format("woff2"),
    url("/fonts/NunitoSans-Regular.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.woff2') format('woff2'),
        url('/fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('/fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM-PROPS */
:root{
    --blue: #5267df;
    --red: #FA5959;
    --text-color: #242A45;
    --text-color-75: rgba(36, 42, 69, .75);
    --text-color-50: rgba(36, 42, 69, .5); 
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus{
    outline: 3px dashed var(--red);
    outline-offset: 2px;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

    body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    background-color: #fff;
    color: var(--text-color);
    overflow-x: hidden;
}

    img {
    max-width: 100%;
    height: auto;
    }

  *:focus {
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
    }


  /* CONTAINER  */
    .container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 8px 22px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
}

.button:active{
    opacity: 0.6;
}

.button--red {
    background-color: var(--red);
    color: #fff;
}

.button--red:hover{
    border-color: var(--red);
    background-color: #fff;
    color: var(--red);
}

.button--blue {
    background-color: var(--blue);
    color: #fff;
}

.button--blue:hover{
    border-color: var(--blue);
    background-color: #fff;
    color: var(--blue);
}

.button--grey {
    background-color: #f7f7f7;
    color: var(--text-color);
}

.button--grey:hover{
    border-color: #5b6074;
    background-color: #fff;
    color: var(--text-color);
}

.button-block{
    display: block;
    width: 100%;
}

.button--site-header{
    padding: 10px 31px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover{
    opacity: 0.8;
}


.logo:active{
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 149px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover{
    color: var(--red);
}

.sitenav__link:active{
    opacity: 0.6;
}


/* ACCORDION */
.accordion {
    border-top: 1px solid rgba(36, 42, 69, 1);
    margin-top: 54px;
}

.accordion__item {
    margin-bottom: 52px;
    border-bottom: 1px solid rgba(36, 42, 69, 1);
}

.accordion__item--header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 13px;
}

.accordion__item--title {
    font-family: "Rubik" "Arial" sans-serif;
    flex-grow: 1;
    margin: 0;
    margin-right: 24px;
    font-size: 18px;
    line-height: 23px; 
    font-weight: 400;
    color: var(--text-color);
}

.accordion__item--header:hover .accordion__item--title{
    color: var(--red);
}

.accordion__item--toggler {
    border:0;
    padding: 0;
    background-color: transparent;
}

.accordion__item--toggler::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: rgba(0, 0, 0, 0.3);
}

.accordion__item-toggler-icon {
    color: var(--blue);
}


/* SITE-HEADER */
.site-header {
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__sitenav {
    margin-right: 48px;
}


/* SECTION */
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section__info {
    width: 100%;
    max-width: 540px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.section-description {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}


/* FEATURE-TAB-PANEL */
.feature-tab-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-tab-panel__img {
    margin-right: 30px;
    object-fit: contain;
}

.feature-tab-panel__info {
    width: 445px;
}

.feature-tab-panel__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}
.feature-tab-panel__text {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
}


/* TABS */
.tabs__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabs__item {
    width: 243px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__link {
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 4px solid transparent;
    color: var(--text-color-75);
    display: block;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.tabs__item--active .tabs__link{
    border-color: var(--red);
    color: var(--text-color);
}

.tabs__link:hover{
    color: var(--red);
}

.tabs__link:active{
    opacity: 0.6;
}

.tabs__panels {
    padding-top: 75px;
    padding-bottom: 165px;
    background-image: url(../img/Rectangle\ Copy\ 14.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + -580px) 156px;
}   

.tabs__panel{
    display: none;
}

.tabs__panel--active{
    display: block;
}   

/* FEATURES */
.features-section-info{
    margin-bottom: 44px;
}


/* HERO */
.hero {
    padding-top: 66px;
    padding-bottom: 105px;
    background-image: url(../img/blue-pill-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 705px) 200px;
}

.hero__container {
    display: flex; 
    align-items: flex-start;
}

.hero__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 540px;
    padding-top: 66px;
    margin-right: 65px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.hero__description {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color-50);
}

.hero__actions {
    display: flex;
}

.hero__actions-item:not(:last-child) {
    margin-right: 16px;
}

.hero-img {
    flex-shrink: 0;
    width: 578px;
    height: 385px;
    object-fit: contain;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}


/* EXTENSION-LIST */
.extensions__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin-left: 34px;
}

.list__item{
    position: relative;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 49px 24px 24px;
    box-shadow: 0px 10px 20px -5px rgb(73 93 207 / 20%);
    border-radius: 15px;
    margin-left: 34px;
}

.list__img {
    width: 102px;
    height: 100px;
    margin-bottom: 32px;
    object-fit: contain;
}

.img__list{
    width: 284px;
    height: 4px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.list__heading {
    font-family: "Rubik" "Arial" sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color:var(--text-color);
}

.list__text {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    opacity: 0.5;
}


/* FAQ */
.faq{
    padding-bottom: 150px;
}

.faq__inner{
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.faq__accordion{
    margin-bottom: 54px;
}

.section-description{
    color: var(--text-color-50);
}


/* QUESTIONS */
.questions {
    width: 545px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 75px;
}

.questions__about {
    margin-bottom: 56px;
}

.questions__heading {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
}

.questions__text {
    margin: 0;
}

.questions__wrapper {
    border-top: 1px solid var(--text-color-50);
}

.questions__item {
    border-bottom: 1px solid var(--text-color-50);
}

.questions__item-header {
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-right: 28px;
}

.questions__item-title {
    flex-grow: 1;
    margin: 0;
    margin-right: 24px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
}

.questions__item-header:hover .questions__item-title{
    color: var(--red);
}

.questions__icon-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.questions__icon-btn:focus{
    outline: none;
}

.questions__icon-btn:focus::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.down-icon {
    font-size: 21px;
    color: var(--blue);
}

.questions__item-texts {
    display: none;
}

.questions__item-texts--open {
    display: block;
}

.questions__item-text {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--text-color-75);
    mix-blend-mode: normal;
    text-align: left;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 29px;
}

.questions__button{
    margin-top: 54px;
}


/* CTA */
.cta {
    background-color: var(--blue);
}

.cta__info {
    width: 442px;
    padding-top: 46px;
    padding-bottom: 74px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cta__top-text {
    font-family: "Rubik" "Arial" Sans-serif;
    font-size: 13px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cta__title {
    font-family: "Rubik" "Arial" Sans-serif;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 36px;
    letter-spacing: -0.1px;
    color: #fff;
}

.cta__form{
    position: relative;
    display: flex;
}

.cta__input-wrapper{
    position: relative;
    z-index: 555;
}

.cta__input {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--text-color-50);
    min-width: 300px;
    padding: 10px 20px; 
    margin-right: 16px;
    border-radius: 5px;
    border: 2px solid transparent;
}


/* FOOTER */
.footer {
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: var(--text-color);
}

.footer__link-icon{
    text-decoration: none;
}

.site-footer__sitenav {
    display: flex;
}

.footer__logo {
    text-decoration: none;
}

.logo {

}

.logo__img {
    width: 149px;
    height: 25px;
    display: flex;
    flex-shrink: 0;
    margin-right: 63px;
}

.footer__list {
    text-align: center;
    display: flex;
}

.footer__item {
    display: flex;
    align-items: center;
    list-style: none;
    /* margin: 0px 515px 0px 0px; */
    padding: 0px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.footer__item:not(:last-child){
    margin-right: 15px;
}

.footer__link:hover{
    color: var(--red);
}

.footer__link:active{
    opacity: 0.6;
}

.footer__socials {
    margin-left: 480px;
    display: flex;
    align-items:center;
}

.footer__link-icon {
    flex-shrink: 0;
    display: flex;
}

.footer__link-icon:hover{
    color: var(--red);
}

.footer__link-icon:active{
    opacity: 0.6;
}

.footer__link-icon:not(:last-child){
    margin-right: 40px;
}




